doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title miniWeb_one
        link(rel = "stylesheet" href = "./css/index.css")
    body 
        .main_container 
            .sub_container
                .star_container
                    // initial animations --star1-star-6
                    .star.star1
                    .star.star2
                    .star.star3 
                    .star.star4 
                    .star.star5 
                    .star.star6 
                    // --stars accumulation-point-after-initial-star-animation
                    .star.star7
                    .star.star8
                    .star.star9
                    .star.star10
                    .star.star11
                    .star.star12
                    .star.star13
                    .star.star14
                    .star.star15 
                    .star.star16 
                    .star.star17 
                    .star.star18 
                .shadowContainer
                    .shadow
                .main_body
                    .shadeBody
                    .eyeline.eyeline_left
                        .eyeline_inner
                    .eyeline.eyeline_right  
                        .eyeline_inner
                    .eye.eye_left
                        .eyeDot
                    .eye.eye_right
                        .eyeDot
                    .mouth
                    .leg.legInner
                    .leg.legOuter
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js")
    script(src="js/index.js")
    
                    

    





